// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.auth-form {
  max-width: 330px;
  padding: 1rem;
}

.form-label {
  margin-bottom: 0;
}

.navbar-brand {
  padding-bottom: 0.4em;
}

.nav-link {
  font-weight: 600;
}

.app-spinner {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 9998;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

.app-spinner.active {
  display: flex;
}

.app-spinner-content {
  text-align: center !important;
  padding: 2rem;
  background: rgb(232, 240, 254);
  border-color: var(--bs-primary);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

/*
// floating label for input in a form group
// label should be under input
.form-group-floating-label {
  position:relative;

  label {
    padding: 0.275rem 0.65rem;
    margin: 0.1rem;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background: #fff;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: scale(0.75) translateY(-75%) translateX(0px);
    padding: 0.3rem;
    color: var(--bs-tertiary-color);
  }
}
*/
